[package]
name = "rust"
version = "0.1.0"
edition = "2024"

[lib]
name = "map_match"
crate-type = ["cdylib"]

[dependencies]
pyo3 = { version = "0.27.2", features = ["extension-module"] }
numpy = "0.27.1"
petgraph = "0.8.3"
rstar = "0.12.2"
